<section class="admin-add ml-250">
  <div class="head">
    <h1>
      Add Patient
    </h1>
  </div>
  <div class="error">
    {{error}}
  </div>
  <div class="container">
    <form action="/add-patient" method="POST" onsubmit="return validate1(event)">
      <div class="input-section">
        <input type="text" name="name" value="{{patient.name}}" required />
        <label for="">
          Name
        </label>
      </div>
      <div class="input-section">
        <input type="text" placeholder="eg: +919876543210" name="cred" id="cred" value="{{patient.email}}" required />
        <label for="">
          Email or contactno
        </label>
      </div>
      <div class="error user-error"></div>
      <div class="input-section">
        <input type="number" name="age" value="{{patient.age}}" required />
        <label for="">
          Age
        </label>
      </div>
      <div class="radio-section">
        <div>
          <input type="radio" name="gender" value="Male" id="male" />
          <label for="male">
            <img src="/images/icons/undraw_male_avatar_323b.svg" alt="" />
            <span>
              Male
            </span>
          </label>
        </div>
        <div>
          <input type="radio" name="gender" value="Female" id="female" />
          <label for="female">
            <img src="/images/icons/undraw_female_avatar_w3jk.svg" alt="" />
            <span>
              Female
            </span>
          </label>
        </div>
      </div>
      <div class="input-section">
        <input type="submit" value="Add" />
      </div>
    </form>
  </div>
</section>
<div class="modal gender-modal">
  <h1>
    Please Select Gender!
  </h1>
  <button class="normal" onclick="document.querySelector('.gender-modal').classList.toggle('active')">
    OK
  </button>
</div>
<div class="modal valid-modal">
  <h1>
    Please enter your Email or Phone Number
  </h1>
  <button class="normal" onclick="document.querySelector('.valid-modal').classList.toggle('active')">
    OK
  </button>
</div>
<script>
  var cred = document.getElementById("cred");
  var error = document.querySelector(".user-error");
  let checkCred = false
  const validate1 = (event) => {
    const male = document.getElementById("male");
    const female = document.getElementById("female");
    if (male.checked || female.checked) {
      if (checkCred) {
        return true;
      }
      else if (event.target.value == "") {
        modalup("valid-modal")
        return false;
      }
      else {
        return false;
      }
    }
    else {
      modalup("gender-modal");
      return false;
    }
  };
  cred.addEventListener("keyup", (event) => {
    var mailFormat = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})|(\+[1-9]{1}[0-9]{11})+$/;
    if (!mailFormat.test(event.target.value)) {
      error.innerHTML = "Please Enter Valid Email or Mobile No"
      error.style.display = "inline";
      cred.style.borderColor = "#ec1919";
      checkCred = false
    } else {
      error.style.display = "none";
      cred.style.borderColor = "#19b9ec";
      checkCred = true
    }
  })
</script>