<section class="admin-appointment ml-250">
  <div class="head">
    <h1>
      Appointments
    </h1>
  </div>
  <div class="btn-sec">
    <a href="#">
      <i class="fas fa-user-plus"></i>
    </a>
  </div>
  <div class="container">
    <div class="card">
      <div class="card-head">
        <div>
          <img src="/images/icons/undraw_male_avatar_323b.svg" alt="" />
        </div>
        <div>
          <h1>
            Dr. Carolin
          </h1>
          <h4>
            Oral and Maxillofical Surgery
          </h4>
        </div>
      </div>
      <div class="card-body">
        <p>
          Appointment Date: 30-Nov-2020
        </p>
        <p>
          Session: Evening
        </p>
        <p>
          Time: 4:15pm - 5:15pm
        </p>
        <p>
          Booking For: Jhon Doe
        </p>
        <p>
          Appointment Reference ID: 1001
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-head">
        <div>
          <img src="/images/icons/undraw_male_avatar_323b.svg" alt="" />
        </div>
        <div>
          <h1>
            Dr. Carolin
          </h1>
          <h4>
            Oral and Maxillofical Surgery
          </h4>
        </div>
      </div>
      <div class="card-body">
        <p>
          Appointment Date: 30-Nov-2020
        </p>
        <p>
          Session: Evening
        </p>
        <p>
          Time: 4:15pm - 5:15pm
        </p>
        <p>
          Booking For: Jhon Doe
        </p>
        <p>
          Appointment Reference ID: 1001
        </p>
      </div>
    </div>
  </div>
</section>