<section class="admin-login" style="margin-top: 50px;">
  <div class="img-section">
    <img src="/images/icons/undraw_secure_login_pdn4.svg" alt="" />
  </div>
  <div class="login-container">
    <h4>
      New Password
    </h4>
    <form action="/profile/change-password" method="POST">
      <h3 class="error">
        {{error}}
      </h3>
      <input type="text" name="id" value="{{id}}" hidden />
      <div class="input-section">
        <input type="password" name="password" id="password" required />
        <label for="code">
          New Password
        </label>
        <div class="icon">
          <i class="far fa-eye-slash"></i>
          <i class="far fa-eye"></i>
        </div>
      </div>
      <div class="input-section">
        <input type="submit" value="Login" />
      </div>
    </form>
  </div>
</section>