<section class="admin-doctors ml-250">
  <div class="head">
    <h1>
      List Of Doctors
    </h1>
  </div>
  <div class="container">
    <div class="btn-sec">
      <a href="/add-doctor">
        <i class="fas fa-user-plus"></i>
      </a>
    </div>
    <div class="doctors-display">
      <table>
        <thead>
          <tr>
            <th>
              Doctor Name
            </th>
            <th>
              Specialsed
            </th>
            <th>
              Sepeciality
            </th>
            <th>
              Account Status
            </th>
            <th>
              Actions
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div>
                <span class="image">
                  <img src="/images/icons/undraw_male_avatar_323b.svg" alt="" />
                </span>
                Dr. Carloin
              </div>
            </td>
            <td>
              (BDS)
            </td>
            <td>
              Oral and Maxillofical Surgery
            </td>
            <td></td>
            <td>
              <a class="edit" href="#">
                <i class="fas fa-user-edit"></i>
              </a>
              <a class="delete" href="#">
                <i class="fas fa-user-slash"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>