<section class="admin-dash ml-250">
    <div class="head">
        <h1>Admin Dashboard</h1>
        <h2>Hi, {{admin.name}}</h2>
    </div>
    <div class="card-container">
        <div class="card">
            <div>
                <img src="/images/icons/undraw_doctors_hwty.svg">
                <h3 class="doctor">Doctors</h3>
            </div>
            <div>
                <h1 class="doctor">{{counts.doctorsCount}}</h1>
            </div>
        </div>
        <div class="card">
            <div>
                <img src="/images/icons/Male Patient.svg">
                <h3 class="patient">Patients</h3>
            </div>
            <div>
                <h1 class="patient">{{counts.patientsCount}}</h1>
            </div>
        </div>
        <div class="card">
            <div>
                <img src="/images/icons/calendar.svg">
                <h3 class="appoinment">Appoinments</h3>
            </div>
            <div>
                <h1 class="appoinment">{{counts.appointmentsCount}}</h1>
            </div>
        </div>
    </div>
</section>