<section class="admin-login">
    <div class="img-section">
        <img src="/images/icons/undraw_secure_login_pdn4.svg" alt="">
    </div>
    <div class="login-container">
        <h1>Admin Login</h1>
        <form action="/login" method="POST">
            <h3 class="error">{{error}}</h3>
            <div class="input-section">
                <label for="email">
                    Email
                </label>
                <input type="email" name="email" id="email" value="{{email}}" required>
            </div>
            <div class="input-section">
                <label for="password">
                    Password
                </label>
                <input type="password" name="password" id="password" value="{{password}}" required>
            </div>
            <div class="input-section">
                <input type="submit" value="Login">
            </div>
        </form>
    </div>
</section>