<section class="admin-login">
    <div class="img-section">
        <img src="/images/icons/undraw_secure_login_pdn4.svg" alt="">
    </div>
    <div class="login-container">
        <form action="/login" method="POST">
            <div class="input-section">
                <label for="email">
                    Name
                </label>
                <input type="email" name="email" id="email">
            </div>
            <div class="input-section">
                <label for="password">
                    Password
                </label>
                <input type="password" name="password" id="password">
            </div>
        </form>
    </div>
</section>