<section class="admin-profile ml-250">
  </div>
  <div class="container">
    <div class="card">
      <div class="card-head">
        <h1>
          My Profile
        </h1>
      </div>
      <div class="card-body">
        <div class="details-feild">
          <p>
            Name:
            {{adminDetails.name}}
          </p>
        </div>
        <div class="details-feild">
          <p>
            Email:
            {{adminDetails.email}}
          </p>
        </div>
        <div class="btn-grp" style="margin-left: 0;">
          <a href="/profile/edit"><button class="crop">Edit</button></a>
          <a href="/profile/change-password">
            <button class="crop" style="margin-left: 10px;">Change Password</button>
          </a>
        </div>
      </div>
    </div>
</section>