<section class="sidebar">
    <div class="profile-display">
        <img src="/images/icons/undraw_male_avatar_323b.svg" alt="">
        <p>{{admin.name}}</p>
    </div>
    <div class="nav-links">
        <a href="/"><i class="fas fa-house-user"></i>&nbsp;&nbsp;Dashboard</a>
        <a href="/users"><i class="fas fa-user"></i>&nbsp;&nbsp;Users</a>
        <a href="/users/blocked"><i class="fas fa-user-slash"></i>&nbsp;&nbsp;Blocked Users</a>
        <a href="/appointment"><i class="fas fa-calendar"></i>&nbsp;&nbsp;Appoinments</a>
        <a href="/myprofile"><i class="fas fa-user"></i>&nbsp;&nbsp;My Profile</a>
        <a href="/logout"><i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp;Log Out</a>
    </div>
</section>