<section class="sidebar">
    <div class="profile-display">
        <img src="/images/icons/undraw_male_avatar_323b.svg" alt="">
        <p>Muhammad Semeer</p>
    </div>
    <div class="nav-links">
        <a href="/"><i class="fas fa-house-user"></i>&nbsp;&nbsp;Dashboard</a>
        <a href="#"><i class="fas fa-user-md"></i>&nbsp;&nbsp;Doctors</a>
        <a href="#"><i class="fas fa-user-injured"></i>&nbsp;&nbsp;Patients</a>
        <a href="#"><i class="fas fa-calendar"></i>&nbsp;&nbsp;Appoinments</a>
        <a href="#"><i class="fas fa-user"></i>&nbsp;&nbsp;My Profile</a>
        <a href="/logout"><i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp;Log Out</a>
    </div>
</section>