<header>
  <div class="logo-section">
    <a href="/">
      <h1>
        Galaxieon Care
      </h1>
    </a>
  </div>
  {{#if search}}
  <div class="search">
    <form action="/search/{{searchId}}" method="GET">
      <div class="btn-grp">
        <input type="search" name="q" class="first" id="search" value="{{query}}" placeholder="Search....">
        <button type="submit" class="last" id="search-btn"><i class="fas fa-search"></i></button>
      </div>
    </form>
  </div>
  {{/if}}
  {{#if search2}}
  <div class="search">
    <div class="btn-grp">
      <input type="search" name="q" class="first" id="search" value="{{query}}" placeholder="Search....">
      <button type="submit" class="last" id="search-btn"><i class="fas fa-search"></i></button>
    </div>
  </div>
  {{/if}}
  <div class="menu">
    <div class="menu_humburger"></div>
  </div>
</header>