<header>
    <div class="logo-section">
        <h1>Galaxieon Care</h1>
    </div>
    <div  class="profile">
        <img src="/images/icons/undraw_male_avatar_323b.svg" alt="">
    </div>
</header>
<section class="sidebar">
    <div class="profile-display">
        <img src="/images/icons/undraw_male_avatar_323b.svg" alt="">
        <p>Muhammad Semeer</p>
    </div>
    <div class="nav-links">
        <a href="#">Dashboard</a>
        <a href="#">Doctors</a>
        <a href="#">Patients</a>
        <a href="#">Appoinments</a>
    </div>
</section>