<section class="sidebar">
    <div class="profile-display">
        <img src="/images/icons/undraw_male_avatar_323b.svg" alt="">
        <p>{{admin.name}}</p>
    </div>
    <div class="nav-links">
        <a href="/"><i class="fas fa-house-user"></i>&nbsp;&nbsp;Dashboard</a>
        <a href="/doctors"><i class="fas fa-user-md"></i>&nbsp;&nbsp;Doctors</a>
        <a id="tab-link"><i class="fas fa-user-injured"></i>&nbsp;&nbsp;Patients</a>
        <a href="/appointment"><i class="fas fa-calendar"></i>&nbsp;&nbsp;Appoinments</a>
        <a href="/myprofile"><i class="fas fa-user"></i>&nbsp;&nbsp;My Profile</a>
        <a href="/logout"><i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp;Log Out</a>
    </div>
</section>
<section class="patients ml-250 tab">
    <div class="head">
      <h1>
        List Of Patients
      </h1>
    </div>
    <div class="container">
      <div class="btn-sec">
        <a href="/add-patient">
          <i class="fas fa-user-plus"></i>
        </a>
      </div>
      <div class="doctors-display">
        <table>
          <thead>
            <tr>
              <th>
                Patient Name
              </th>
              <th>
                Age
              </th>
              <th>
                Mobile No
              </th>
              <th>
                Account Status
              </th>
              <th>
                Actions
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div>
                  <span class="image">
                    <img
                      src="/images/icons/undraw_male_avatar_323b.svg"
                      alt=""
                    />
                  </span>
                  Jhon Deo
                </div>
              </td>
              <td>
                25
              </td>
              <td>
                9876543210
              </td>
              <td></td>
              <td>
                <a class="edit" href="#">
                  <i class="fas fa-user-edit"></i>
                </a>
                <a class="delete" href="#">
                  <i class="fas fa-user-slash"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>