<header>
    <div class="logo-section">
        <a href="/">
            <h1>
                Galaxieon Care
            </h1>
        </a>
    </div>
    <div class="menu">
        <div class="menu_humburger"></div>
    </div>
</header>
<section class="sidebar">
    <div class="profile-display">
        <img src="/images/doctor/{{doctorLogged._id}}.jpg" alt="{{doctorLogged.name}}">
        <p>{{doctorLogged.name}}</p>
    </div>
    <div class="nav-links">
        <a href="/"><i class="fas fa-house-user"></i>&nbsp;&nbsp;Appoinments</a>
        <a href="/bookings"><i class="fas fa-calendar"></i>&nbsp;&nbsp;Bookings</a>
        <a href="/patients"><i class="fas fa-user"></i>&nbsp;&nbsp;Patients</a>
        <a href="/myprofile"><i class="fas fa-user"></i>&nbsp;&nbsp;My Profile</a>
        <a href="/logout"><i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp;Log Out</a>
    </div>
</section>