<header>
  <div class="logo-section">
    <a href="/">
      <h1>
        Galaxieon Care
      </h1>
    </a>
  </div>
  <nav>
    <a href="/">
      Home
    </a>
    {{#if user}}
      <a href="#">
        Appointments
      </a>
      <a href="#">
        My Profile
      </a>
    {{else}}
      <a href="/login">
        Login
        <a href="#contact">
          Contact
        </a>
      </a>
    {{/if}}
    {{#if user}}
      <a href="/logout">
        Logout
      </a>
    {{/if}}
  </nav>
  <div
    class="menu-icon"
    onclick="document.querySelector('.menu-user').classList.toggle('active');"
  >
    <i class="fas fa-bars"></i>
  </div>
</header>
<div class="menu-user">
  <span
    onclick="document.querySelector('.menu-user').classList.toggle('active');"
  >
    ×
  </span>
  <a href="/">
    Home
  </a>
  <a
    href="/#contact"
    onclick="document.querySelector('.menu-user').classList.toggle('active');"
  >
    Contact
  </a>
  {{#if user}}
    <a href="#">
      Appointments
    </a>
    <a href="#">
      My Profile
    </a>
    <a href="/logout">
      Logout
    </a>
  {{else}}
    <a href="/login">
      Login
    </a>
  {{/if}}
</div>