<section class="admin-success ml-250">
  <div class="head success" style="font-size: 20px;">
    <h1>File is Ready</h1>
    <a href="/xlsx/doctor/{{userId}}.xlsx" download="/xlsx/doctor/{{userId}}.xlsx" style="background-color: #007bff;">
      Download
    </a>
  </div>
</section>