<section class="dr-page appmnt ml-250">
  <div class="tab">
    <button class="tb active" data-id="today" onclick="tabview(event)">
      <i class="fas fa-calendar-day"></i>
      Today
    </button>
    <button class="tb" data-id="upcoming" onclick="tabview(event)">
      <i class="fas fa-calendar-week"></i>
      Upcoming
    </button>
    <button class="tb" data-id="consulted" onclick="tabview(event)">
      <i class="fas fa-clipboard-check"></i>
      Consulted
    </button>
    <button class="tb" data-id="cancelled" onclick="tabview(event)">
      <i class="fas fa-calendar-times"></i>
      Cancelled
    </button>
    <button class="tb" data-id="expired" onclick="tabview(event)">
      <i class="fas fa-history"></i>
      Expired
    </button>
    <hr />
  </div>
  <!-- today -->
  <div class="card-sec active" id="today">
    <div class="card">
      <div class="c-head">
        <p>Muhammad Semeer</p>
        <p>muhammadsemeerali@gmail.com</p>
      </div>
      <div class="c-content">
        <p>Date</p>
        <p>Time Stlot</p>
        <div class="btn-grp" style="margin-left: 0;">
          <button class="crop">Consult</button>
          <button class="crop" style="margin-left: 10px;">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  <!-- upcoming -->
  <div class="card-sec" id="upcoming">
    <div class="card">
      <div class="c-head">
        <p>Muhammad Semeer</p>
        <p>muhammadsemeerali@gmail.com</p>
      </div>
      <div class="c-content">
        <p>Date</p>
        <p>Time Stlot</p>
        <div class="btn-grp" style="margin-left: 0;">
          <button class="crop">Consult</button>
          <button class="crop" style="margin-left: 10px;">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  <!-- consulted -->
  <div class="card-sec" id="consulted">
    <div class="card">
      <div class="c-head">
        <p>Muhammad Semeer</p>
        <p>muhammadsemeerali@gmail.com</p>
      </div>
      <div class="c-content">
        <p>Date</p>
        <p>Time Stlot</p>
        <div class="btn-grp" style="margin-left: 0;">
          <button class="crop">Consult</button>
          <button class="crop" style="margin-left: 10px;">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  <!-- cancelled -->
  <div class="card-sec" id="cancelled">
    <div class="card">
      <div class="c-head">
        <p>Muhammad Semeer</p>
        <p>muhammadsemeerali@gmail.com</p>
      </div>
      <div class="c-content">
        <p>Date</p>
        <p>Time Stlot</p>
        <div class="btn-grp" style="margin-left: 0;">
          <button class="crop">Consult</button>
          <button class="crop" style="margin-left: 10px;">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  <!-- expired -->
  <div class="card-sec" id="expired">
    <div class="card">
      <div class="c-head">
        <p>Muhammad Semeer</p>
        <p>muhammadsemeerali@gmail.com</p>
      </div>
      <div class="c-content">
        <p>Date</p>
        <p>Time Stlot</p>
        <div class="btn-grp" style="margin-left: 0;">
          <button class="crop">Consult</button>
          <button class="crop" style="margin-left: 10px;">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  function tabview(event) {
    var id = event.target.getAttribute("data-id")
    var tb = document.querySelectorAll(".tb")
    var cardSec = document.querySelectorAll(".card-sec")
    for (let i = 0; i < tb.length; i++) {
      tb[i].classList.remove("active")
    }
    for (let i = 0; i < cardSec.length; i++) {
      cardSec[i].classList.remove("active")
    }
    document.getElementById(id).classList.add("active")
    event.target.classList.add("active")
  }
</script>