<section class="p-404">
    <lottie-player src="/images/icons/lottieflow-404-12-7-19b9ec-easey.json" background="transparent" speed="1"
        style="width: 300px; height: 200px;" loop autoplay></lottie-player>
    <h1>
        Page Not Found
    </h1>
    <div class="btn-grp"><a href="/"><button class="crop" style="width: 150px;">Go to Home</button></a></div>
</section>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>