<section class="p-404">
    <lottie-player src="/images/icons/11233-505-error.json" background="transparent" speed="1"
        style="width: 300px; height: 300px;" loop autoplay></lottie-player>
    <h1 class="error">
        Internal Server Error
    </h1>
    <div class="btn-grp"><a href="/"><button class="crop" style="width: 150px;">Go to Home</button></a></div>
    <h1>{{message}}</h1>
    <h2>{{error.status}}</h2>
    <pre>{{error.stack}}</pre>

</section>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>