<section class="user appointment">
  <div class="user-container">
    <div class="tab">
      <button
        id="appointment"
        class="active"
        onclick="toogleTab3('#appointment', '#consulted','#cancel', '#appointment-conatiner', '#consulted-container', '#cancelled-conatiner')"
      >
      <i class="fas fa-calendar-check"></i>
        Appoitments
      </button>
      <button
        id="consulted"
        onclick="toogleTab3('#consulted','#appointment', '#cancel', '#consulted-container', '#appointment-conatiner', '#cancelled-conatiner')"
      >
      <i class="fas fa-clipboard-check"></i>
        Consulted
      </button>
      <button
        id="cancel"
        onclick="toogleTab3('#cancel','#consulted','#appointment',  '#cancelled-conatiner','#consulted-container', '#appointment-conatiner')"
      >
      <i class="fas fa-calendar-times"></i>
        Cancelled
      </button>
      <hr />
    </div>
  </div>
  <div class="card active" id="appointment-conatiner">
    <div class="container">
      <div class="doctor-section">
        <div>
          <img src="/images/doctor/5fc635ae3adf2a34afa7c556.jpg" alt="" />
        </div>
        <div>
          <h3>
            Doctor Name
          </h3>
          <p>
            Doctor Field
          </p>
        </div>
      </div>
      <div class="content">
        <p>
          Appoitment Date
        </p>
        <p>
          Time
        </p>
        <p>
          Status
        </p>
        <div class="btn-grp" style="margin-left: 0; font-size: 16px">
          <a href="/book-appoinment/{{this._id}}">
            <button class="crop" style="font-size: 15px">
              Book Apointment
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="user-container">
    <div class="card" id="consulted-container">
      <div class="container">
        <div class="doctor-section">
          <div>
            <img src="/images/doctor/5fc635ae3adf2a34afa7c556.jpg" alt="" />
          </div>
          <div>
            <h3>
              Doctor Name
            </h3>
            <p>
              Doctor Field
            </p>
          </div>
        </div>
        <div class="content">
          <p>
            Appoitment Date
          </p>
          <p>
            Time
          </p>
          <p>
            Status
          </p>
          <div class="btn-grp" style="margin-left: 0; font-size: 16px">
            <a href="/book-appoinment/{{this._id}}">
              <button class="crop" style="font-size: 15px">
                Book Apointment
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="user-container">
    <div class="card" id="cancelled-conatiner">
      <div class="container">
        <div class="doctor-section">
          <div>
            <img src="/images/doctor/5fc635ae3adf2a34afa7c556.jpg" alt="" />
          </div>
          <div>
            <h3>
              Doctor Name
            </h3>
            <p>
              Doctor Field
            </p>
          </div>
        </div>
        <div class="content">
          <p>
            Appoitment Date
          </p>
          <p>
            Time
          </p>
          <p>
            Status
          </p>
          <div class="btn-grp" style="margin-left: 0; font-size: 16px">
            <a href="/book-appoinment/{{this._id}}">
              <button class="crop" style="font-size: 15px">
                Book Apointment
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>