<section class="user book-appointment">
  <div class="container">
    <div class="doctor-sec">
      <div class="img-sec">
        <img src="/images/doctor/{{doctor._id}}.jpg" alt="" />
      </div>
      <div class="content-sec">
        <p>
          {{doctor.name}}
        </p>
        <p>
          {{doctor.field}}
        </p>
        <p>
          {{doctor.specialised}}
        </p>
      </div>
    </div>
    <div class="book-sec">
      <div class="head" style="padding: 0; text-align: center">
        <h1>
          Select Your Date and Time
        </h1>
      </div>
      <div class="dates">
        <div class="arrow" onclick="changeStart(0)">
          <i class="fas fa-chevron-left"></i>
        </div>
        <div class="radio-section">
        </div>
        <div class="arrow" onclick="changeStart(1)">
          <i class="fas fa-chevron-right"></i>
        </div>
      </div>
      <div class="time">
        <div class="radio-section">
          <div>
            <input type="radio" name="date" id="1" />
            <label for="1" style="width: 200px;">
              <span>
                9.30 -10:30
              </span>
            </label>
          </div>
          <div>
            <input type="radio" name="date" id="2" />
            <label for="2" style="width: 200px;">
              <span>
                9.30 -10:30
              </span>
            </label>
          </div>
          <div>
            <input type="radio" name="date" id="3" />
            <label for="3" style="width: 200px;">
              <span>
                9.30 -10:30
              </span>
            </label>
          </div>
        </div>
      </div>
      <div class="btn-grp" style="display: flex; justify-content: center">
        <button class="crop">
          Book Appointment
        </button>
      </div>
    </div>
  </div>
</section>