<section class="admin-success">
  <div class="head success" style="font-size: 20px;">
    <h1>Flie is Ready</h1>
    <a href="{{path}}" download="{{path}}" style="background-color: #007bff;">
      Download
    </a>
  </div>
</section>