<section class="admin-success">
  <div class="head success" style="font-size: 20px;">
    <h1>Flie is Ready</h1>
    <a href="/xlsx/user/{{user._id}}.xlsx" download="/xlsx/user/{{user._id}}.xlsx" style="background-color: #007bff;">
      Download
    </a>
  </div>
</section>