<section class="admin-login" style="margin-top: 50px;">
  <div class="img-section">
    <img src="/images/icons/undraw_secure_login_pdn4.svg" alt="" />
  </div>
  <div class="login-container">
    <h4>
      Forget Password
    </h4>
    <form action="/reset/password/send" method="POST" autocomplete="off">
      <h3 class="error">
        {{error}}
      </h3>
      <div class="input-section">
        <input type="email" name="email" id="email" required />
        <label for="email">
          Email
        </label>
      </div>
      <div class="input-section">
        <input type="submit" value="Login" />
      </div>
    </form>
  </div>
</section>
<div class="modal error-modal">
  <h1>
    Something Went Wrong.. Try Again!!!!
  </h1>
  <button class="normal" onclick="document.querySelector('.error-modal').classList.toggle('active')">
    OK
  </button>
</div>