<section class="home user">
  <div class="hero">
    <aside>
      <h1>
        Welcome To Galaxieon Care
      </h1>
      <p>
        Get your personal health care companion here
      </p>
      <div class="btn-grp" style="margin-left: 0;">
        <a href="#doctors">
          <button class="crop">
            Find Your Doctor
          </button>
        </a>
      </div>
    </aside>
  </div>
  <div class="card" id="doctors">
    <div class="container">
      <div class="img-section">
        <img src="/images/doctor/5fc633274e12742fc80798d2.jpg" alt="" />
      </div>
      <div class="content">
        <p>
          Name
        </p>
        <p>
          Field
        </p>
        <p>
          Specialised
        </p>
        <div class="btn-grp" style="margin-left: 0; font-size: 16px">
          <button class="crop" style="font-size: 15px">
            Book Apointment
          </button>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="img-section">
        <img src="/images/doctor/5fc633274e12742fc80798d2.jpg" alt="" />
      </div>
      <div class="content">
        <p>
          Name
        </p>
        <p>
          Field
        </p>
        <p>
          Specialised
        </p>
        <div class="btn-grp">
          <button class="crop">
            Book Apointment
          </button>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="img-section">
        <img src="/images/doctor/5fc633274e12742fc80798d2.jpg" alt="" />
      </div>
      <div class="content">
        <p>
          Name
        </p>
        <p>
          Field
        </p>
        <p>
          Specialised
        </p>
        <div class="btn-grp">
          <button class="crop">
            Book Apointment
          </button>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="img-section">
        <img src="/images/doctor/5fc633274e12742fc80798d2.jpg" alt="" />
      </div>
      <div class="content">
        <p>
          Name
        </p>
        <p>
          Field
        </p>
        <p>
          Specialised
        </p>
        <div class="btn-grp">
          <button class="crop">
            Book Apointment
          </button>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="img-section">
        <img src="/images/doctor/5fc633274e12742fc80798d2.jpg" alt="" />
      </div>
      <div class="content">
        <p>
          Name
        </p>
        <p>
          Field
        </p>
        <p>
          Specialised
        </p>
        <div class="btn-grp">
          <button class="crop">
            Book Apointment
          </button>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="img-section">
        <img src="/images/doctor/5fc633274e12742fc80798d2.jpg" alt="" />
      </div>
      <div class="content">
        <p>
          Name
        </p>
        <p>
          Field
        </p>
        <p>
          Specialised
        </p>
        <div class="btn-grp">
          <button class="crop">
            Book Apointment
          </button>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="img-section">
        <img src="/images/doctor/5fc633274e12742fc80798d2.jpg" alt="" />
      </div>
      <div class="content">
        <p>
          Name
        </p>
        <p>
          Field
        </p>
        <p>
          Specialised
        </p>
        <div class="btn-grp">
          <button class="crop">
            Book Apointment
          </button>
        </div>
      </div>
    </div>
  </div>
</section>