<section class="admin-login">
  <div class="img-section">
    <img src="/images/icons/undraw_secure_login_pdn4.svg" alt="" />
  </div>
  <div class="login-container">
    <h1>
      User Login
    </h1>
    <form action="/login" method="POST" onsubmit="return emailCheck(event)">
      <h3 class="error">
        {{error}}
      </h3>
      <div class="input-section">
        <input
          type="text"
          name="email"
          id="email"
          placeholder="eg: +919876543210"
          value="{{input}}"
          required
        />
        <label for="email">
          Email or Mobile No
        </label>
      </div>
      <p class="or">
        OR
      </p>
      <div id="my-signin2"></div>
      <p class="or">
        OR
      </p>
      <div
        class="fb-login-button"
        data-size="large"
        data-button-type="continue_with"
        data-layout="rounded"
        data-auto-logout-link="false"
        data-use-continue-as="true"
        data-onlogin="checkLoginState();"
      ></div>
      <a href="/signup">
        Don't Have an Account?
      </a>
      <div class="input-section">
        <input type="submit" value="Login" />
      </div>
    </form>
  </div>
</section>
<div class="modal error-modal">
  <h1>
    Something Went Wrong.. Try Again!!!!
  </h1>
  <button
    class="normal"
    onclick="document.querySelector('.error-modal').classList.toggle('active')"
  >
    OK
  </button>
</div>
<div class="modal valdation-modal">
  <h1>
    Email Address / Phone number is not valid, Please provide a valid Email or phone number
  </h1>
  <button
    class="normal"
    onclick="document.querySelector('.valdation-modal').classList.toggle('active')"
  >
    OK
  </button>
</div>