<div class="head success" style="font-size: 20px;">
    <h1>{{title}}</h1>
    <h1>{{message}}</h1>
</div>
<div class="btn-grp" style="justify-content: center;">
    <a href="{{redirect}}">
        <button class="crop">Login</button>
    </a>
</div>