<section class="admin-login" style="margin-top: 50px;">
  <div class="img-section">
    <img src="/images/icons/undraw_secure_login_pdn4.svg" alt="" />
  </div>
  <div class="login-container">
    <h4>
      Enter the 6 digit verfication code that send to
      {{mobileno}}
    </h4>
    <form action="/login/otp-verify" method="POST">
      <h3 class="error">
        {{error}}
      </h3>
      <div class="input-section">
        <input type="text" name="number" value="{{mobileno}}" hidden />
        <input type="password" name="code" id="code" required />
        <label for="code">
          Verfication Code
        </label>
        <div class="icon">
          <i class="far fa-eye-slash"></i>
          <i class="far fa-eye"></i>
        </div>
      </div>
      <a onclick="resendOTP('{{mobileno}}')">
        Resend the code Again
      </a>
      <div class="input-section">
        <input type="submit" value="Login" />
      </div>
    </form>
  </div>
</section>
<div class="modal error-modal">
  <h1>
    Something Went Wrong.. Try Again!!!!
  </h1>
  <button class="normal" onclick="document.querySelector('.error-modal').classList.toggle('active')">
    OK
  </button>
</div>
<script>
  const resendOTP = (no) => {
    loader.style.display = "flex";
    loader.classList.add("fetch")
    fetch(`/resent/otp/${no}`, {
      method: "GET",
      headers: {
        "Content-Type": "application/json"
      }
    }).then((res) => res.json()).then((res) => {
      if (res.status) {
        loader.style.display = "none";
        loader.classList.remove("fetch")
      } else {
        document.querySelector(".error").innerHTML = res.error
      }
    })
  }
</script>