<section class="admin-login" style="margin-top: 50px;">
  <div class="img-section">
    <img src="/images/icons/undraw_secure_login_pdn4.svg" alt="" />
  </div>
  <div class="login-container">
    <h4>
      Enter password
      {{email}}
      to login
    </h4>
    <form action="/login" method="POST">
      <h3 class="error">
        {{error}}
      </h3>
      <div class="input-section">
        <input type="password" name="email" id="email" required />
        <label for="email">
          Password
        </label>
          <div class="icon">
            <i class="far fa-eye-slash"></i>
            <i class="far fa-eye"></i>
          </div>
      </div>
      <a href="/forgot-password">
        Forgot Password?
      </a>
      <div class="input-section">
        <input type="submit" value="Login" />
      </div>
    </form>
  </div>
</section>
<div class="modal error-modal">
  <h1>
    Something Went Wrong.. Try Again!!!!
  </h1>
  <button
    class="normal"
    onclick="document.querySelector('.error-modal').classList.toggle('active')"
  >
    OK
  </button>
</div>
<div class="modal valdation-modal">
  <h1>
    Email Address / Phone number is not valid, Please provide a valid Email or phone number
  </h1>
  <button
    class="normal"
    onclick="document.querySelector('.valdation-modal').classList.toggle('active')"
  >
    OK
  </button>
</div>