<section class="admin-login" style="margin-top: 50px;">
  <div class="img-section">
    <img src="/images/icons/undraw_secure_login_pdn4.svg" alt="" />
  </div>
  <div class="login-container">
    <h4>
      Enter password
      to continue login on
      {{email}}
    </h4>
    <form action="/login/password" method="POST">
      <h3 class="error">
        {{error}}
      </h3>
      <div class="input-section">
        <input type="text" name="email" value="{{email}}" hidden />
        <input type="password" name="password" id="password" required />
        <label for="password">
          Password
        </label>
        <div class="icon">
          <i class="far fa-eye-slash"></i>
          <i class="far fa-eye"></i>
        </div>
      </div>
      <a href="/forget/password">
        Forgot Password?
      </a>
      <div class="input-section">
        <input type="submit" value="Login" />
      </div>
    </form>
  </div>
</section>
<div class="modal error-modal">
  <h1>
    Something Went Wrong.. Try Again!!!!
  </h1>
  <button
    class="normal"
    onclick="document.querySelector('.error-modal').classList.toggle('active')"
  >
    OK
  </button>
</div>