<section class="admin-login" style="margin-top: 50px;">
  <div class="img-section">
    <img src="/images/icons/undraw_secure_login_pdn4.svg" alt="" />
  </div>
  <div class="login-container">
    <h1>
      Create an Account
    </h1>
    <form action="/signup" method="POST" onsubmit="return validate(event)">
      <h3 class="error">
        {{error}}
      </h3>
      <div id="my-signin2"></div>
      <div
        class="fb-login-button"
        data-size="large"
        data-button-type="continue_with"
        data-layout="rounded"
        data-auto-logout-link="false"
        data-use-continue-as="true"
        data-onlogin="checkLoginState();"
      ></div>
      <div class="input-section">
        <input type="text" name="name" id="name" required />
        <label for="name">
          Name
        </label>
      </div>
      <div class="input-section">
        <input type="email" name="email" id="email" value="{{email}}" />
        <label for="email">
          Email (Optional)
        </label>
      </div>
      <div class="input-section">
        <input
          type="text"
          pattern="[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]"
          name="contactno"
          id="contactno"
          required
        />
        <label for="contactno">
          Contact No
        </label>
      </div>
      <div class="input-section">
        <input
          type="password"
          name="password"
          id="password"
          value="{{password}}"
          required
        />
        <label for="password">
          Password
        </label>
        <div class="icon">
          <i class="far fa-eye-slash"></i>
          <i class="far fa-eye"></i>
        </div>
      </div>
      <div class="radio-section">
        <div>
          <input type="radio" name="gender" value="Male" id="male" />
          <label for="male">
            <img src="/images/icons/undraw_male_avatar_323b.svg" alt="" />
            <span>
              Male
            </span>
          </label>
        </div>
        <div>
          <input type="radio" name="gender" value="Female" id="female" />
          <label for="female">
            <img src="/images/icons/undraw_female_avatar_w3jk.svg" alt="" />
            <span>
              Female
            </span>
          </label>
        </div>
      </div>
      <div class="input-section">
        <input type="submit" value="Login" />
      </div>
    </form>
  </div>
</section>
<div class="modal gender-modal">
  <h1>
    Please Select Gender!
  </h1>
  <button
    class="normal"
    onclick="document.querySelector('.gender-modal').classList.toggle('active')"
  >
    OK
  </button>
</div>
<div class="modal error-modal">
  <h1>
    Something Went Wrong.. Try Again!!!!
  </h1>
  <button
    class="normal"
    onclick="document.querySelector('.error-modal').classList.toggle('active')"
  >
    OK
  </button>
</div>