@media (max-width: 768px) {
  .sidebar {
    margin-left: -250px;
  }
  .menu {
    display: flex;
  }
  .ml-250 {
    margin-left: 10px;
  }
  .head h1 {
    font-size: 32px;
    line-height: 50px;
  }
  .head h2 {
    font-size: 30px;
    line-height: 40px;
  }
}

@media (max-width: 500px) {
  .admin-dash.active {
    margin-left: 10px;
    transition: 0.5s ease-in-out;
  }
}

@media (max-width: 880px) {
  .admin-login {
    justify-content: center;
  }
  .admin-login .img-section img {
    display: none;
  }
}

@media (max-width: 880px) and (min-width: 500px) {
  .login-container {
    width: calc(100% - 25%);
  }
}
@media (min-width: 880px) {
  .login-container {
    width: 500px;
    height: 400px;
  }
}
