:root {
  --primary-color: #19b9ec;
  --secondary-color: #8cdffa;
  --sidebar: #464646;
  --sidebar-hover: #323232;
  --nav-links: #d0cde1;
  --green: #1dbe3d;
  --red: #ec1919;
  --login-one: #e6e6e6;
  --login-two: #d9d9d9;
  --body-back: #f6f6f6;
  --light-black: #0a0a0a;
  --green-light: #4ef700;
  --edit: #e905b0;
  --light: #555555;
}
