<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
    integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins" type="text/css" />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/variable.css' />
  <link rel="stylesheet" href="/stylesheets/media.css">
  <link rel="stylesheet" href="/stylesheets/animations.css">
</head>

<body>
  <header>
    <div class="logo-section">
      <h1>Galaxieon Care</h1>
    </div>
    {{#if admin}}
    <div class="menu">
      <div class="menu_humburger">
      </div>
    </div>
    {{/if}}
  </header>
  {{#if admin}}
  {{> admin}}
  {{/if}}
  {{{body}}}
  <script src="/javascripts/media.js"></script>
  <script src="/javascripts/script.js"></script>
</body>

</html>