<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <meta name="google-signin-client_id" content="254931449650-egdl6jb9jcf9olrgurqfsebir6jjme66.apps.googleusercontent.com">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
    integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.9/cropper.js" integrity="sha512-oqBsjjSHWqkDx4UKoU+5IUZN2nW2qDp2GFSKw9+mcFm+ZywqfBKp79nfWmGPco2wzTWuE46XpjtCjZ9tFmI12g==" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.9/cropper.css" integrity="sha512-949FvIQOibfhLTgmNws4F3DVlYz3FmCRRhJznR22hx76SKkcpZiVV5Kwo0iwK9L6BFuY+6mpdqB2+vDIGVuyHg==" crossorigin="anonymous" />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/variable.css' />
  <link rel="stylesheet" href="/stylesheets/media.css">
  <link rel="stylesheet" href="/stylesheets/animations.css">
</head>

<body>
  {{#if admin}}
  {{> admin-header}}
  {{> admin}}
  {{/if}}
  {{#if header}}
  {{> user-header}}
  {{/if}}
  {{{body}}}
  <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
  <script src="/javascripts/media.js"></script>
  <script src="/javascripts/script.js"></script>
  <script src="/javascripts/image-cropper.js"></script>
</body>

</html>